{% assign chapters = site.data.data.chapters %}
{% if chapters %}
<section class="section chapters-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-book-open fa-stack-1x fa-inverse"></i>
    </span>
    {{ chapters.title }}
  </h2>

  {% if chapters.intro %}
  <div class="intro">
    {{ chapters.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for publication in chapters.chapts %}
  <div class="item">
    <div class="publication-title">{{ publication.title }}</div>
    <div class="publication-authors">{{ publication.authors }}</div>
    <div class="publication-conference">{{ publication.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
